<a href="https://colab.research.google.com/github/HakanYlmz/dokuman/blob/master/Logical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # matris ve veri okuma işlerinde kullanılır
import numpy as np
from sklearn.preprocessing import LabelEncoder # Etiketleri numaralandırma işleminde kullanılır
import tensorflow as tf 
from tensorflow import keras #model oluşturulma aşamasında kullanırılır
from tensorflow.keras import layers # yapay zeka gerçekleştririlirken katman oluşmasında kullanılır 
from sklearn.linear_model import LogisticRegression # logistik regrasyon sınıflandırılmasında kullanılır
import matplotlib.pyplot as plt # veriyi ve sonuçları görselleşmesinde yararlanılır
import math
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
doh = pd.read_csv('doh.csv', encoding='iso-8859-1', sep=";") # doh veriseti okama işlemi gerçekleşir
benign = pd.read_csv('benign.csv', encoding='iso-8859-1', sep=";")# benign veriseti okama işlemi gerçekleşir
malicious = pd.read_csv('malicious.csv', encoding='iso-8859-1', sep=";") # malicious veriseti okama işlemi gerçekleşir

In [ ]:
nondoh.describe(include="all")

              SourceIP  ...   Label
count             7239  ...    7238
unique             168  ...       1
top     192.168.20.191  ...  NonDoH
freq              6996  ...    7238
mean               NaN  ...     NaN
std                NaN  ...     NaN
min                NaN  ...     NaN
25%                NaN  ...     NaN
50%                NaN  ...     NaN
75%                NaN  ...     NaN
max                NaN  ...     NaN

[11 rows x 35 columns]

In [ ]:
nondoh = pd.read_csv('l1-nondoh.csv', encoding='iso-8859-1', sep=",") # nondoh veriseti okama işlemi gerçekleşir
nondoh.head()

         SourceIP  ...   Label
0     72.21.91.42  ...  NonDoH
1  192.168.20.191  ...  NonDoH
2  192.168.20.191  ...  NonDoH
3  192.168.20.191  ...  NonDoH
4  192.168.20.191  ...  NonDoH

[5 rows x 35 columns]

In [ ]:
bir1 = pd.concat([benign,malicious]) # birinci model oluşumu için benign ve malicious verisetleri birleşir
colums = bir1.columns
bir1.describe(include = "all")

              SourceIP  ...   Label
count            28881  ...   28880
unique              21  ...       2
top     192.168.20.111  ...  Benign
freq             10982  ...   19807
mean               NaN  ...     NaN
std                NaN  ...     NaN
min                NaN  ...     NaN
25%                NaN  ...     NaN
50%                NaN  ...     NaN
75%                NaN  ...     NaN
max                NaN  ...     NaN

[11 rows x 35 columns]

In [ ]:
bir1.head()

          SourceIP  ...   Label
0   192.168.20.191  ...  Benign
1   192.168.20.191  ...  Benign
2   192.168.20.191  ...  Benign
3   192.168.20.191  ...  Benign
4  176.103.130.131  ...  Benign

[5 rows x 35 columns]

In [ ]:
dene = bir1
for i in range(0,33): # verisetindeki değişkenler numaralandıralar optimizasyon işlemi başlatılır
  dene[colums[i]] = dene[colums[i]].astype("category").cat.codes
dene.head()

   SourceIP  DestinationIP  ...  ResponseTimeTimeCoefficientofVariation   Label
0         7              2  ...   1.174.947.648.347.200.000.000.000.000  Benign
1         7              2  ...   1.402.381.756.499.100.000.000.000.000  Benign
2         7              2  ...          0.9583479225395716167134328733  Benign
3         7              2  ...   1.017.534.581.115.150.000.000.000.000  Benign
4         2              7  ...   1.084.482.917.963.680.000.000.000.000  Benign

[5 rows x 35 columns]

In [ ]:
dene.describe(include="all")

            SourceIP  ...   Label
count   28881.000000  ...   28880
unique           NaN  ...       2
top              NaN  ...  Benign
freq             NaN  ...   19807
mean        6.419411  ...     NaN
std         4.919535  ...     NaN
min         0.000000  ...     NaN
25%         3.000000  ...     NaN
50%         5.000000  ...     NaN
75%         8.000000  ...     NaN
max        20.000000  ...     NaN

[11 rows x 35 columns]

In [ ]:
dene[colums[34]] = dene[colums[34]].astype("category").cat.codes
dene.head()

   SourceIP  DestinationIP  ...  ResponseTimeTimeCoefficientofVariation  Label
0         7              2  ...   1.174.947.648.347.200.000.000.000.000      0
1         7              2  ...   1.402.381.756.499.100.000.000.000.000      0
2         7              2  ...          0.9583479225395716167134328733      0
3         7              2  ...   1.017.534.581.115.150.000.000.000.000      0
4         2              7  ...   1.084.482.917.963.680.000.000.000.000      0

[5 rows x 35 columns]

In [ ]:
dene1 = dene # Sonuca etki etmeye veya olumsuz etki edebilecek veriler silinir
for i in range(5,34):
  dene1 = dene1.drop(colums[i], axis=1)
dene1.head()

   SourceIP  DestinationIP  SourcePort  DestinationPort  TimeStamp  Label
0         7              2        6041                0       3704      0
1         7              2        6041                0       3705      0
2         7              2        6041                0       3706      0
3         7              2        6041                0       3707      0
4         2              7           0             1569       3708      0

In [ ]:
dene1 = dene1.drop("TimeStamp", axis=1)
dene1.head()

   SourceIP  DestinationIP  SourcePort  DestinationPort  Label
0         7              2        6041                0      0
1         7              2        6041                0      0
2         7              2        6041                0      0
3         7              2        6041                0      0
4         2              7           0             1569      0

In [ ]:
X = dene1.iloc[:,:-1] # veri setinden ulaşmak istenen sonuç harici veriler X değişkenine atanır
Y = dene1.iloc[:,-1] # tespit edimek istenen durumlar Y değişkenine atanır
X.head()

   SourceIP  DestinationIP  SourcePort  DestinationPort
0         7              2        6041                0
1         7              2        6041                0
2         7              2        6041                0
3         7              2        6041                0
4         2              7           0             1569

In [ ]:
import sklearn.model_selection as model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, Y, train_size=0.65,test_size=0.35, random_state=101) #veri seti model eğitimi ve testi olmak üzere %35 i test geri kalanı eğitimi için ayrılır
X_train.head()

       SourceIP  DestinationIP  SourcePort  DestinationPort
3924          3             18        2510                0
17964         1              5           0              417
5733          3             18        3435                0
5595          3             18        3358                0
5929          3             18        3533                0

In [ ]:
logmodel = LogisticRegression() #model sınıfından nesne oluşturulur
logmodel.fit(X_train,y_train) #model sınıfına verileri girilerek modek öğrenimine başlanır

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions = logmodel.predict(X_test) # model test edilerek kalitesi ölçülür

In [ ]:
col = dene1.columns
col

Index(['SourceIP', 'DestinationIP', 'SourcePort', 'DestinationPort', 'Label'], dtype='object')

In [ ]:
from sklearn.metrics import classification_report
a = classification_report(y_test,predictions,target_names=['SourceIP', 'DestinationIP']) #model sonucunu raporlayarak değişkenler incelenir

In [ ]:
X_train.head()

       SourceIP  DestinationIP  SourcePort  DestinationPort
3924          3             18        2510                0
17964         1              5           0              417
5733          3             18        3435                0
5595          3             18        3358                0
5929          3             18        3533                0

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions) #model sonuçları doğruluk matrisinde gösterlerek değerlendirilir

array([[6452,  508],
       [1518, 1631]])

In [ ]:
from sklearn.metrics import accuracy_score # modelin genel sonucuna ulaşılır
accuracy_score(y_test,predictions)

0.7995845286378475

In [ ]:
nondoh.head()

In [ ]:
iki = pd.concat([doh,nondoh])
colums2 = iki.columns
iki.describe(include = "all")

In [ ]:
iki.head()

In [ ]:
dene2 = iki
for i in range(0,33):
  dene2[colums2[i]] = dene2[colums2[i]].astype("category").cat.codes
dene2.head()

   SourceIP  DestinationIP  ...  ResponseTimeTimeCoefficientofVariation  Label
0        84            344  ...   1.174.947.648.347.200.000.000.000.000    DoH
1        84            344  ...   1.402.381.756.499.100.000.000.000.000    DoH
2        84            344  ...          0.9583479225395716167134328733    DoH
3        84            344  ...   1.017.534.581.115.150.000.000.000.000    DoH
4        68            397  ...   1.084.482.917.963.680.000.000.000.000    DoH

[5 rows x 35 columns]

In [ ]:
dene2[colums2[34]] = dene2[colums2[34]].astype("category").cat.codes
dene2.head()

   SourceIP  DestinationIP  ...  ResponseTimeTimeCoefficientofVariation  Label
0        84            344  ...   1.174.947.648.347.200.000.000.000.000      0
1        84            344  ...   1.402.381.756.499.100.000.000.000.000      0
2        84            344  ...          0.9583479225395716167134328733      0
3        84            344  ...   1.017.534.581.115.150.000.000.000.000      0
4        68            397  ...   1.084.482.917.963.680.000.000.000.000      0

[5 rows x 35 columns]

In [ ]:
dene3 = dene2
for i in range(5,34):
  dene3 = dene3.drop(colums2[i], axis=1)
dene3.head()

   SourceIP  DestinationIP  SourcePort  DestinationPort  TimeStamp  Label
0        84            344        3138                0       2979      0
1        84            344        3138                0       2980      0
2        84            344        3138                0       2981      0
3        84            344        3138                0       2982      0
4        68            397           0             1048       2983      0

In [ ]:
dene3 = dene3.drop("TimeStamp", axis=1)
dene3.head()

   SourceIP  DestinationIP  SourcePort  DestinationPort  Label
0        84            344        3138                0      0
1        84            344        3138                0      0
2        84            344        3138                0      0
3        84            344        3138                0      0
4        68            397           0             1048      0

In [ ]:
dene3 = dene3.dropna()
X = dene3.iloc[:,:-1]
Y = dene3.iloc[:,-1]
X.head()

   SourceIP  DestinationIP  SourcePort  DestinationPort
0        84            344        3138                0
1        84            344        3138                0
2        84            344        3138                0
3        84            344        3138                0
4        68            397           0             1048

In [ ]:
import sklearn.model_selection as model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, Y, train_size=0.65,test_size=0.35, random_state=101)
X_train.head()

       SourceIP  DestinationIP  SourcePort  DestinationPort
2287         84            771        2803                0
6218         84            703        5223                0
1031         83            812         972                0
6206         84            696        5199                0
12412        84            344        6519                0

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions = logmodel.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
a = classification_report(y_test,predictions,target_names=['SourceIP', 'DestinationIP'])

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[5032,  206],
       [ 640, 1875]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8908809493099445